@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.coverDiv {
  background-image: url("https://cdn.pixabay.com/photo/2023/11/20/13/21/shape-8401083_960_720.png");
  filter: opacity(0.5);
  opacity: 0.4;
  margin-left: 40px;

}

.coverP {
  opacity: 1;
  filter: opacity(1);
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* PRINT MEDIA QUERY */
@media print {
  .cross-btn {
    display: none;

    border: none;
  }

  .invoice-label {
    border: none;
    font-size: xx-large;
    margin-top: 0;
    height: 50px;
    margin-bottom: 10px;
  }

  .invoice-number-label {
    border: none;
    row-gap: 0;
    margin-top: 20px;
    margin-left: 60px;
    width: 150px;
    font-size: medium;
    padding: 0;
  }

  .invoice-parent {
    display: flex;
    flex-direction: row;
  }

  .invoice-smtg {
    height: 195px;
    width: 70px;
    margin-left: 320px;
    margin-top: 10px;
  }

  .my-invoice {
    width: 100vh;
    height: 100vh;
    margin-top: 0;
  }

  .invoice-abc {
    margin-top: 10px;
    height: 150px;
    margin-bottom: 30px;

  }

  .invoice-abc img {
    height: 150px;
  }

  .inputBtn div {
    border: none;
  }

  .dateclass {
    border: none;

  }
}